extends ../../layouts/default.pug
include ../../mixins/table-tree.pug

block main 
    if(role.permissions.includes("products-category_views"))
        h1 Danh mục phim
        .card.mb-3 
            .card-header Danh sách
                .card-body 
                    table(
                        class = "table table-hover table-sm"
                        checkbox-multi
                        )
                        thead 
                            tr 
                                th 
                                    input(type="checkbox" name="checkall")
                                th STT 
                                th Hình ảnh
                                th Tên
                                th Vị trí
                                th Trạng thái
                                th Hành động
                        tbody 
                            +table-tree(records)
    script. 
        const buttonDelete = document.querySelectorAll("[button-delete-category]")
            if(buttonDelete.length > 0){
                const formDeleteItem = document.querySelector("#form-delete-item-category")
                const path = formDeleteItem.getAttribute("data-path")
                buttonDelete.forEach(button =>{
                    button.addEventListener("click", () =>{
                        const isConfirm = confirm("Bạn có muốn xóa danh mục này")
                        if(isConfirm){
                            const id = button.getAttribute("data-id")
                            const action = `${path}/${id}?_method=DELETE`
                            formDeleteItem.action = action
                            formDeleteItem.submit()
                        }
                    })
                })
            }

                                