doctype html
// Coding by CodingNepal | www.codingnepalweb.com
html(lang='en', dir='ltr')
  head
    meta(charset='UTF-8')
    title  Drop Down Sidebar Menu | CodingLab 
    // Boxiocns CDN Link
    link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/admin/css/sidebar.css")
body
    .sidebar.close
      .logo-details
        i.bx.bxl-c-plus-plus
        span.logo_name ADMIN
      ul.nav-links
        li
          a(href= `/admin/dashboard`)
            i.bx.bx-grid-alt
            span.link_name Dashboard
          ul.sub-menu.blank
            li
              a.link_name(href='/admin/dashboard') Dashboard
        if(role.permissions.includes("products_views"))
            li
                .iocn-link
                    a(href='/admin/products')
                        i(class = "fa-solid fa-film")
                        span.link_name Danh sách phim
                    i.bx.bxs-chevron-down.arrow
                ul.sub-menu
                    li
                        a.link_name(href='#') Phim
                    li
                        a(href='/admin/products') Danh sách phim
                    if(role.permissions.includes("products_create"))
                        li
                            a(href='/admin/products/create') Thêm phim mới
                    li
                        a(href='/admin/products/deleted') Phim đã xóa
        if(role.permissions.includes("products-category_views"))
            li
                .iocn-link
                    a(href='/admin/products')
                        i.bx.bx-collection
                        span.link_name Danh mục phim
                    i.bx.bxs-chevron-down.arrow
                ul.sub-menu
                    li
                        a.link_name(href='/admin/products-category') Danh mục
                    if(role.permissions.includes("products-category_views"))
                        li
                            a(href='/admin/products-category') Danh sách danh mục
                    if(role.permissions.includes("products-category_create"))
                        li
                            a(href='/admin/products-category/create') Thêm danh mục
                    li
                        a(href='/admin/products/deleted') Danh mục đã xóa
        if(role.permissions.includes("roles_views"))
            li
                .iocn-link
                    a(href='/admin/products')
                        i.bx.bx-collection
                        span.link_name Nhóm quyền
                    i.bx.bxs-chevron-down.arrow
                ul.sub-menu
                    li
                        a.link_name(href='/admin/roles') Nhóm quyền
                    if(role.permissions.includes("roles_views"))
                        li
                            a(href='/admin/roles') Danh sách nhóm quyền
                    if(role.permissions.includes("roles_create"))
                        li
                            a(href='/admin/roles/create') Thêm nhóm quyền
                    li
                        a(href='/admin/products/deleted') Nhóm quyền đã xóa
        if(role.permissions.includes("roles_permissions"))
            li
                a(href='/admin/roles/permissions')
                    i.bx.bx-pie-chart-alt-2
                    span.link_name Phân quyền
                ul.sub-menu.blank
                    li
                        a.link_name(href='/admin/roles/permissions') Phân quyền
        if(role.permissions.includes("accounts_views"))
            li
                .iocn-link
                    a(href='/admin/accounts')
                        i.bx.bx-collection
                        span.link_name Danh sách tài khoản
                    i.bx.bxs-chevron-down.arrow
                ul.sub-menu
                    li
                        a.link_name(href='/admin/accounts') Tài khoản
                    if(role.permissions.includes("accounts_views"))
                        li
                            a(href='/admin/accounts') Danh sách tài khoản
                    if(role.permissions.includes("accounts_create"))
                        li
                            a(href='/admin/accounts/create') Thêm tài khoản
                    li
                        a(href='/admin/accounts/deleted') Tài khoản đã xóa
        //- li
        //-   .iocn-link
        //-     a(href='#')
        //-       i.bx.bx-book-alt
        //-       span.link_name Posts
        //-     i.bx.bxs-chevron-down.arrow
        //-   ul.sub-menu
        //-     li
        //-       a.link_name(href='#') Posts
        //-     li
        //-       a(href='#') Web Design
        //-     li
        //-       a(href='#') Login Form
        //-     li
        //-       a(href='#') Card Design
        //- li
        //-   a(href='#')
        //-     i.bx.bx-pie-chart-alt-2
        //-     span.link_name Analytics
        //-   ul.sub-menu.blank
        //-     li
        //-       a.link_name(href='#') Analytics
        //- li
        //-   a(href='#')
        //-     i.bx.bx-line-chart
        //-     span.link_name Chart
        //-   ul.sub-menu.blank
        //-     li
        //-       a.link_name(href='#') Chart
        //- li
        //-   .iocn-link
        //-     a(href='#')
        //-       i.bx.bx-plug
        //-       span.link_name Plugins
        //-     i.bx.bxs-chevron-down.arrow
        //-   ul.sub-menu
        //-     li
        //-       a.link_name(href='#') Plugins
        //-     li
        //-       a(href='#') UI Face
        //-     li
        //-       a(href='#') Pigments
        //-     li
        //-       a(href='#') Box Icons
        //- li
        //-   a(href='#')
        //-     i.bx.bx-compass
        //-     span.link_name Explore
        //-   ul.sub-menu.blank
        //-     li
        //-       a.link_name(href='#') Explore
        //- li
        //-   a(href='#')
        //-     i.bx.bx-cog
        //-     span.link_name Setting
        //-   ul.sub-menu.blank
        //-     li
        //-       a.link_name(href='#') Setting
        li
          .profile-details
            .profile-content
              img(src= user.avatar, alt='profileImg')
            .name-job
              .profile_name #{user.fullName}
              .job #{user.email}
            div(class = "") 
                a(
                    href="/admin/auth/logout"
                )   
                    i.bx.bx-log-out
            
            
       
    script.
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".logo-details");
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });