
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")


.menu
  ion-icon(name='menu-outline')
  ion-icon(name='close-outline')
.barra-lateral
  div
    .nombre-pagina
      ion-icon#cloud(name='cloud-outline')
      span Quản Lý Phim
    a(href="/admin/products") 
      button.boton
        <i class="fa-solid fa-film"></i>
        span PHIM
  nav.navegacion
    ul
      li
        a#inbox(href='/admin/dashboard')
          ion-icon(name='mail-unread-outline')
          span Tổng quan
      li
        a(href='/admin/products')
          ion-icon(name='star-outline')
          span Danh sách phim
      li
        a(href='/admin/products-category')
          ion-icon(name='paper-plane-outline')
          span Danh mục phim
      li
        a(href='/admin/roles')
          ion-icon(name='document-text-outline')
          span Nhóm quyền
      li
        a(href='/admin/roles/permissions')
          ion-icon(name='bookmark-outline')
          span Phân quyền
      li
        a(href='/admin/accounts')
          ion-icon(name='alert-circle-outline')
          span Danh sách tài khoản
      li
        a(href='#')
          ion-icon(name='trash-outline')
          span Trash
  div
    .linea
    .modo-oscuro
      .info
        ion-icon(name='moon-outline')
        span Drak Mode
      .switch
        .base
          .circulo
    .usuario
      img(src='/Jhampier.jpg' alt='')
      .info-usuario
        .nombre-email
          span.nombre Jhampier
          span.email jhampier@gmail.com
        ion-icon(name='ellipsis-vertical-outline')
    div(class = "logout text-center mt-3") 
      a(
        href="/admin/auth/logout"
        class = "btn btn-danger btn-sm"

      ) Đăng xuất

script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')


    