


mixin changeEpisode(movie)
    .container-btn-change
        a(href=`/phim/${movie.currentEpi - 1}`)
            .episode-prev.set-btn-next-ep
                i.fa-solid.fa-backward.font-size-btn
                span  Tập trước
        a(href=`/phim/${movie.currentEpi + 1}`)
            .episode-next.set-btn-next-ep
                span Tập tiếp theo
                i.fa-solid.fa-forward.font-size-btn
        .off-leed.set-btn-next-ep
            i.fa-solid.fa-sun.font-size-btn
            span Tắt đèn
        a(href='')
            .erro.set-btn-next-ep
                i.fa-solid.fa-triangle-exclamation.font-size-btn
                span Báo lỗi